mat-nav-list {
  padding-top: 10px;
}

h3 {
  color: #3f51b5;
  padding-left: 16px;
  transition: color 0.3s;
}

.active-link {
  background-color: rgba(63, 81, 181, 0.1);
  color: #3f51b5;
}

a {
  cursor: pointer;
}

a:hover {
  background-color: rgba(0, 0, 0, 0.04);
}