<mat-nav-list>
  <h3 mat-subheader appTituloResaltado>Menú de Navegación</h3>
  <a mat-list-item routerLink="/inicio" routerLinkActive="active-link" (click)="onMenuItemClick()">
    <mat-icon matListItemIcon>home</mat-icon>
    <span matListItemTitle>Inicio</span>
  </a>
  <mat-divider></mat-divider>
  <a mat-list-item routerLink="/alumnos" routerLinkActive="active-link" (click)="onMenuItemClick()">
    <mat-icon matListItemIcon>school</mat-icon>
    <span matListItemTitle>Gestión de Alumnos</span>
  </a>
  <mat-divider></mat-divider>
  <a mat-list-item routerLink="/cursos" routerLinkActive="active-link" (click)="onMenuItemClick()">
    <mat-icon matListItemIcon>menu_book</mat-icon>
    <span matListItemTitle>Gestión de Cursos</span>
  </a>
  <mat-divider></mat-divider>
</mat-nav-list>